#container {
    background: #000000;
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 670px;
    width: 110%;
    text-align: center;
    z-index: 100;
    display: block;
    font-size: 250%;
    font-weight: bold;
}
